

{% extends "base_generic.html" %}

{% block content %}

{% for list in ls %}
<div class="card-group justify-content-center">
<div class="card justify-content-center">
  <img class="card-img-top" style="width:200px;height:200px;" src={{list.image}} alt="Bologna">
  <div class="card-body justify-content-center">
    <h4 class="card-title">{{list.title}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{list.subtitle}}</h6>
    <p class="card-text">{{list.price}} </p>
    <button type="button" class="btn btn-secondary">Read More</button>
    <button id="{{list.isbn13}}" type="button" class="btn btn-dark" onclick="deleteBookmark()">Delete Bookmark</button>
  </div>
</div>
</div>
  {% endfor %}

<nav >
  <ul class="pagination justify-content-center">
        {% if  current_page > 1 %}
            <li class="page-item">
              <a class="page-link" href="/bookmarks/1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">First</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="/bookmarks/{{current_page|add:'-1'}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
        {% endif %}
        {% for i in range %}
            {% if  i|add:'-5' < current_page and i|add:'5' > current_page  %}
                {% if i == current_page %}
                    <li class="page-item active" aria-current="page">
                    <a class="page-link" href="/bookmarks/{{i}}">{{i}}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="/bookmarks/{{i}}">{{i}}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if current_page < pg %}
            <li class="page-item">
        {% if current_page == 0 %}
              <a class="page-link" href="/bookmarks/{{current_page|add:'2'}}" aria-label="Next">
                {% else %}
              <a class="page-link" href="/bookmarks/{{current_page|add:'1'}}" aria-label="Next">
        {% endif %}
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="/bookmarks/{{pg}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Last</span>
              </a>
            </li>
        {% endif %}
  </ul>
</nav>

<script>

function deleteBookmark() {
    // console.log($(this).attr("id"));
    buttonId = event.srcElement.id;
    let cookie = document.cookie
let csrfToken = cookie.substring(cookie.indexOf('=') + 1)

  $.ajax({
  url: '/bookmarks/delete_bookmark/',
  method : 'POST',
         headers: {
           'X-CSRFToken': csrfToken
         },
      data: {"button_id": buttonId,"current":{{current_page}}},
  beforeSend: function() {
   // things to do before submit
  },
  success: function(data) {
location.reload(); 

   }
   });
    
}
  

  
</script>

{% endblock %}
